/*
Website Colors -
Ivory - #FCFEF1
Light Teal - #00CCCC
Dark Teal - #117F84
Dark Gray - #545D64  #313f44
Light Gray - #A6AEB5 #c2d3d6

Fonts -
M Plus rounded 1c - 300, 500, 700, 800
font-family: 'M PLUS Rounded 1c', sans-serif;

Mukta Mahee - 200, 400, 700
font-family: 'Mukta Mahee', sans-serif;
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
}

a, p {
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

body {
  background-color: #FCFEF1;
}

hr {
  border-top: 15px dotted #00CCCC;
  background-color: #FCFEF1;
  opacity: 50%;
  width: 60%;
  margin: 100px auto;
}

.hidden {
  display: none;
}

.taskBar {
  position: fixed;
  /* top: 0; */
  text-align: right;
  color: #116F74;
  padding: 0 3%;
  z-index: 10;
}

#taskbarSpacer {
  height: 100px;
  background-color: #116F74;
}

.icon {
  width: 25%;
}

.taskBar a {
  text-align: right;
  color: #116F74;
}

.taskBar a:hover {
  color: #c2d3d6;
}

.navBarButton {
  color: #00CCCC;
}

@media (max-width: 992px) {
  .taskBar {
    background-image: linear-gradient(#c2d3d6 0%, #FCFEF1 100%);
  }

  .icon {
    width: min(200px, 40%);

  }
}

#businessInfo {
  background-image: linear-gradient(#116F74, #00CCCC, #FCFEF1 67%);
  /* height: 600px; */
}

.ELOTitle {
  text-align: right;
  margin-right: 7%;
}

.ELOTitle h2 {
  font-size: 62px;
  color: #00CCCC;
}

.ELOTitle h1 {
  font-size: 124px;
  font-family: 'Mukta Mahee', sans-serif;
  color: #313f44;
}

@media (max-width: 992px) {
  .ELOTitle {
    text-align: center;
    margin: 0 2%;
  }

  .ELOTitle h2 {
    font-size: 40px;
  }

  .ELOTitle h1 {
    font-size: 92px;
  }
}

.featLine {
  padding: 3% 5%;
}

.line1 {
  margin-left: 2%;
  color: #FCFEF1;
}

.line2 {
  margin-right: 2%;
  text-align: right;
  color: #FCFEF1;
}

.line3 {
  color: #116F74;
  text-align: center;
  font-size: 76px;
  font-family: 'Mukta Mahee', sans-serif;
  padding: 5% 0;
}

.line4 {
  color: #00CCCC;
  text-align: center;
}

.buttonPlace {
  margin: 7% 3%;ds
  text-align: center;
}

.FeatBtn {
  padding: 1% 2%;
  text-decoration: none;
  color: #117F84;
  border: 5px solid #00CCCC;
  border-radius: 15px;
  font-size: 28px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 3%;
}

.FeatBtn:hover {
  background-image: linear-gradient(#00CCCC, #117F84);
  border: 5px solid #117F84;
  color: #FCFEF1;
}

@media (max-width: 992px) {
  .featLine {
    padding: 3% 2%;
  }

  .line1 {
    text-align: center;
    font-size: 24px;
  }

  .line2 {
    display: none;
  }

  .line3 {
    display: none;
  }

  .line4 {
    margin-left: 3%;
    font-size: 32px;
    color: #116F74;
  }

  .buttonPlace {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .FeatBtn {
    padding: 3% 4%;
    border: 5px solid #00CCCC;
    border-radius: 15px;
    font-size: 18px;
  }

  .FeatBtn:hover {
    border: 3px solid #117F84;
  }
}

#aboutMe {
  padding: 0 7%;
}

.profile {
  margin: 0 10%;
}

.profilePic {
  border-radius: 250px;
  width: 100%;
  margin-top: 10px;
}

.bioLeftside {
  text-align: right;
  margin: 0 5%;
}

#aboutMe p {
  font-size: 24px;
}

.gradientText {
  background-color: #117F84;
  background-image: linear-gradient(135deg, #00CCCC, #117F84);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.infoBubble {
  color: #c2d3d6;
  margin-top: 15px;
}

.infoBubbleMobile {
  display: none;
}

.infoTitle {
  color: #117F84;
}

@media (max-width: 992px) {
  .bioLeftside {
    text-align: center;
  }

  .profilePic {
    width: 60%;
    margin-bottom: 15px;
  }
  .infoBubble{
    display: none;
  }
  .infoBubbleMobile{
    display: block;
  }
  .profile{
    margin: 5%;
  }
  #aboutMe {
    text-align: center;
    padding: 0;
  }
  #aboutMe p {
    font-size: 18px;
  }
  #aboutMe h4 {
    font-size: 20px;
  }
  #aboutMe h5 {
    font-size: 16px;
  }

  hr {
    border-top: 5px dotted #00CCCC;
  }
}

.serviceTD {
  width: 30%;
}

#simpleServices {
  padding: 3% 5%;
}

.service {
  text-align: center;
}

.serviceMobile {
  display: none;
}

.ssIcon {
  font-size: 96px;
  background-color: #117F84;
  background-image: linear-gradient(135deg, #00CCCC, #117F84);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 10%;
}

.serviceTitle {
  color: #00CCCC;
  font-size: 28px;
  padding: 0 3%;
}

.serviceTagline {
  color: #117F84;
  font-size: 20px;
  padding: 0 3%;
}

.serviceDesc {
  text-align: left;
  padding: 0 5% 0 7%;
  color: #313f44;
  font-size: 16px;
}

.serviceLinks {
  padding: 5% 3%;
}

.serviceBtn {
  padding: 10px 15px;
  background-color: #00CCCC;
  background-image: linear-gradient(155deg, #00CCCC, #117F84);
  /* box-shadow: 0px 0px 10px #313f44; */
  border-radius: 25px;
  color: #FCFEF1;
  text-decoration: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.serviceBtn:hover {
  background-color: #117F84;
  background-image: linear-gradient(155deg, #c2d3d6, #313f44);
  box-shadow: 0 0 15px #00CCCC;
  color: #00CCCC;
}

@media (max-width: 992px) {
  #simpleServices {
    padding: 0 5%;
  }

  .service {
    display: none;
  }

  .serviceMobile {
    text-align: center;
    display: block;
  }

  .mobServ {
    padding: 7% 2%;
  }

  .serviceLinks {
    padding: 15% 2%;
  }
}

#contactMe {
  background-color: #FCFEF1;
  /* background-image: radial-gradient(#00CCCC 45%, #FCFEF1 75%); */
  margin: 250px auto 150px;
  width: 50%;
  border: 10px dotted #117F84;
  border-radius: 250px;
  text-align: center;
  padding: 2% 1%;
}

.GITtext {
  color: #117F84;
  font-size: 62px;
  margin: 3% 0 5%;
  font-family: 'Mukta Mahee', sans-serif;
}

.iconLinks {
  color: #117F84;
  font-size: 28px;
  margin: 5%;
}

.iconLinks:hover {
  color: #00CCCC;
}

@media (max-width: 992px) {
  #contactMe {
    width: 80%;
    border: 5px dotted #117F84;
  }

  .GITtext {
    font-size: 48px;
  }

  .iconLinks {
    font-size: 24px;
  }
}

.spaceMaker {
  height: 150px;
}

/***************************************************************
                    Services Page CSS
***************************************************************/
.serviceBody{
text-align: center;
padding: 0 5%;
color: #116F74;
}
.testParagraph{
  font-size: 16px;
  margin: 5% 0;
}
.testPic{
  width: 60%;
  border-radius: 100px;
}
.testPicBox2
{
  text-align: right;
  width: 10vw;
}
.testName{
  font-size: 16px;
}
.testBusName{
  font-size: 18px;
}
.testPerson{
  text-align: left;
  width: 15vw;
  color: #116F74;
}

.packageBtn{
  padding: 1% 2%;
  text-decoration: none;
  color: #116F74;
  border: 5px solid #116F84;
  border-radius: 25px;
  font-size: 28px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 3%;

}
.packageBtn:hover{
  background-image: linear-gradient(#00CCCC, #116F74);
  /* border: 5px solid #FCFEF1; */
  color: #FCFEF1;
}

.packageTitle{
  font-size: 72px;
}
.packageList{
  font-size: 18px;
  text-align: left;
  margin: 5%;
}

.packageSale{
  font-size: 18px;
  margin-bottom: 5%;
}


#Consulting{
  text-align: center;
  margin: 5% auto;
}
#BusinessOperation{
  text-align: center;
  margin: 5% auto;
}
#DayToDayOperation{
  text-align: center;
  margin: 15% auto;
}


.consultingSpace {
  /* height: 500px; */
  width: 60vw;
  background-color: #00CCCC;
  background-image: linear-gradient(145deg, #00CCCC, #FCFEF1 75%);

  border-radius: 200px;
  padding: 4% 10%;
  /* display: inline-block; */
}
.tableSpacer{
  width: 5vw;
}

.testBlock1{
  /* display: inline-block; */
  width: 25vw;
  /* background-color: #116F74; */
  /* height: 500px; */
}

.BusinessOPSpace {
  /* height: 400px; */
  /* width: 90vw; */
  background-color: #00CCCC;
  background-image: linear-gradient(180deg, #00CCCC 10%, #FCFEF1 90%);
  border-radius: 200px;
  padding: 6% 10%;
  /* margin: 10% auto; */
}

.DaytoDaySpace {
  /* height: 500px; */
  width: 60vw;
  background-color: #00CCCC;
  background-image: linear-gradient(215deg, #00CCCC, #FCFEF1 75%);

  border-radius: 200px;
  padding: 4% 10%;

}
.testBlock2{
  /* display: inline-block; */
  width: 25vw;
  /* background-color: #116F74; */
  /* height: 500px; */
}
